<p>
  <strong>Upcoming events:</strong>
</p>

<ul id="events">
  <% @upcoming_events.each do |event| %>
    <li>
      <%= link_to event.description, event_path(event.id) %>
      <% unless user_attends?(event) %>
        <%= link_to 'Attend this event', attendance_path(event.id) %>
      <% end %>
    </li>
  <% end %>
</ul>

<p>
  <strong>Past events:</strong>
</p>

<ul id="events">
  <% @past_events.each do |event| %>
    <li>
      <%= link_to event.description, event_path(event.id) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create Event', new_event_path %>